body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

#startButton {
    background-color: rgb(187, 220, 167);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}